# Google Sheets API Credentials
GOOGLE_CLIENT_EMAIL="your-google-service-account-email@your-project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----"
GOOGLE_SHEET_ID="your-google-sheet-id-here"

# Cloudinary Credentials (Optional: Defaults are provided in code, but best to use your own)
CLOUDINARY_CLOUD_NAME="your-cloudinary-cloud-name"
CLOUDINARY_API_KEY="your-cloudinary-api-key"
CLOUDINARY_API_SECRET="your-cloudinary-api-secret"

# Admin Emails (Comma separated list of emails that should have Admin access)
ADMIN_EMAILS="your-email@example.com,another-admin@example.com"
